.wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 160px 144px;
	gap: 80px;
	width: 100%;
	background: #f6f7f9;

	&__box1 {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		padding: 0px;
		gap: 24px;
		width: 100%;

		&__text1 {
			// LookinBody 연동 제품 추천
			width: 100%;
			min-height: 26px;
			font-family: 'Pretendard';
			font-style: normal;
			font-weight: 600;
			font-size: 18px;
			line-height: 150%;
			text-align: center;
			color: #cb4d61;
		}
		&__text2 {
			width: 100%;
			font-family: 'Pretendard';
			font-style: normal;
			font-weight: 700;
			font-size: 40px;
			line-height: 150%;
			text-align: center;
			color: #1c1d21;
		}
		&__text3 {
			width: 100%;
			font-family: 'Pretendard';
			font-style: normal;
			font-weight: 500;
			font-size: 18px;
			line-height: 150%;
			/* or 27px */
			text-align: center;
			color: #7b818f;
		}
	}
	&__img {
		width: calc(1158 / 1366 * 100%);
		height: auto;
	}
}
@media (max-width: 960px) {
	.wrapper {
		padding: 120px 100px;
		&__box2 {
			display: flex;
			flex-direction: column;
			align-items: center;
			gap: 24px;
			&__item {
				width: 100%;
				gap: 60px;
			}
		}
		&__img {
			width: 100%;
		}
	}
}
@media (max-width: 390px) {
	.wrapper {
		gap: 40px;
		padding: 80px 24px;
		&__box1 {
			&__text1 {
				font-size: 14px;
			}
			&__text2 {
				font-size: 24px;
			}
			&__text3 {
				font-size: 14px;
			}
		}

		&__img {
			width: 100%;
		}
	}
}
