.wrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 172px 144px 160px;
	gap: 100px;
	width: 100%;
	background: #ffffff;
	&__box1 {
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 0px;
		gap: 40px;
		width: 100%;

		&__img {
			width: calc(196 / 1080 * 100%);
			height: auto;
		}
		&__inner {
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			padding: 0px;
			gap: 24px;
			width: 100%;

			&__text1 {
				//어려운 건강 데이터, 한 눈에!
				padding: 0px;
				gap: 24px;
				width: 100%;
				font-family: 'Pretendard';
				font-style: normal;
				font-weight: 700;
				font-size: 48px;
				line-height: 150%;
				text-align: center;
				color: #1c1d21;
			}
			&__text2 {
				//쉽게 이해하고 활용할 수 있는 직관적인 분석 리포트
				width: 100%;
				font-family: 'Pretendard';
				font-style: normal;
				font-weight: 500;
				font-size: 20px;
				line-height: 150%;
				text-align: center;
				color: #7b818f;

				&__span {
					font-family: inherit;
					font-style: inherit;
					font-weight: inherit;
					font-size: inherit;
					line-height: 150%;
				}
			}
		}
	}
	&__img {
		width: calc(1048 / 1080 * 100%);
		height: auto;
	}
}
.red {
	color: #cb4d61;
}
@media (min-width: 960px) and (max-width: 1366px) {
	.wrapper {
		padding: 172px 40px 160px;
		&__img {
			width: 100%;
		}
		&__box1 {
			&__img {
				width: calc(196 / 794 * 100%);
			}
		}
	}
}
@media (max-width: 959px) {
	.wrapper {
		padding: 60px 24px;
		gap: 32px;
		&__box1 {
			&__inner {
				&__text1 {
					font-size: 32px;
				}
				&__text2 {
					font-size: 16px;
				}
			}
			&__img {
				width: calc(147 / 342 * 100%);
				height: auto;
			}
		}
		&__box2 {
			width: calc(342 / 390 * 100%);
		}
	}
}
