.wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 200px 143px;
	width: 100%;
	background: #ffffff;
	// background-image: url('@/assets/images/healthReport/imgContent2_ko.png');
	// background-size: cover;
	// background-position: center;
	// background-repeat: no-repeat;

	&__box {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		padding: 0px;
		gap: 24px;
		width: 100%;

		&__text1 {
			//한 곳에 모이는 건강 데이터
			width: 100%;
			font-family: 'Pretendard';
			font-style: normal;
			font-weight: 700;
			font-size: 40px;
			line-height: 150%;
			text-align: center;
			color: #1c1d21;
		}
		&__text2 {
			//다양한 건강 데이터를 한 곳에서 연결하고 관리할 수 있어, 더욱 편리하고 효율적인 건강 관리가 가능합니다.
			width: 100%;
			font-family: 'Pretendard';
			font-style: normal;
			font-weight: 500;
			font-size: 18px;
			line-height: 150%;
			text-align: center;
			color: #7b818f;
		}
	}

	img {
		width: 100%;
		height: auto;
		background-image: url('@/assets/images/healthReport/imgContent2_bg.png');
		background-size: contain;
		background-position: center;
		background-repeat: no-repeat;
	}
}
@media (min-width: 960px) and (max-width: 1366px) {
	.wrapper {
		padding: 80px 83px 140px;
		img {
			width: 100%;
		}
	}
}
@media (max-width: 959px) {
	.wrapper {
		padding: 60px 24px 100px;
		gap: 24px;
		&__box {
			&__text1 {
				font-size: 32px;
			}
			&__text2 {
				font-size: 16px;
			}
		}
		img {
			width: 100%;
		}
	}
}
