.wrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 100px;
	width: 100%;
	background: #ffffff;
	padding: 172px 0px 160px;
	&__box {
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 0px;
		gap: 40px;
		width: 100%;

		&__inner1 {
			display: flex;
			flex-direction: column;
			align-items: center;
			padding: 0px;
			gap: 20px;
			width: 100%;

			&__item {
				background: #ffffff;
				border: 8px solid #fbf3f5;
				box-shadow: 0px 4px 8px rgba(28, 29, 33, 0.04);
				border-radius: 100px;
				display: flex;
				justify-content: center;
				align-items: center;
				img {
					width: 24px;
					height: auto;
				}
			}
			&__title {
				width: 100%;
				font-family: 'Pretendard';
				font-style: normal;
				font-weight: 600;
				font-size: 20px;
				line-height: 28px;
				text-align: center;
				color: #cb4d61;
			}
		}
		&__inner2 {
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			padding: 0px;
			gap: 24px;

			&__text1 {
				//어려운 건강 데이터, 한 눈에!
				padding: 0px;
				gap: 24px;
				width: 100%;
				font-family: 'Pretendard';
				font-style: normal;
				font-weight: 700;
				font-size: 48px;
				line-height: 150%;
				text-align: center;
				color: #1c1d21;
			}
			&__text2 {
				//쉽게 이해하고 활용할 수 있는 직관적인 분석 리포트
				width: 100%;

				font-family: 'Pretendard';
				font-style: normal;
				font-weight: 500;
				font-size: 20px;
				line-height: 150%;
				text-align: center;
				color: #7b818f;
			}
		}
	}

	&__img {
		width: calc(960 / 1366 * 100%);
		height: auto;
	}
}
@media (min-width: 960px) and (max-width: 1366px) {
	.wrapper {
		padding: 152px 83px 160px;
		&__img {
			width: 100%;
		}
	}
}
@media (max-width: 959px) {
	.wrapper {
		gap: 60px;
		&__box {
			&__inner1 {
				&__title {
					font-size: 16px;
				}
			}
			&__inner2 {
				&__text1 {
					font-size: 32px;
				}
				&__text2 {
					font-size: 16px;
				}
			}
		}
		&__img {
			width: calc(342 / 390 * 100%);
		}
	}
}
