.wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 80px;
	width: 100%;
	background: #f6f7f9;
	padding: 160px 143px;

	&__box1 {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		padding: 0px;
		gap: 24px;
		width: 100%;
		&__text1 {
			//봐야 할 데이터만 모아체계적으로
			width: 100%;
			min-height: 120px;
			font-family: 'Pretendard';
			font-style: normal;
			font-weight: 700;
			font-size: 40px;
			line-height: 150%;
			text-align: center;
			color: #1c1d21;
		}
		&__text2 {
			//정확한 데이터 분석과 맞춤형 정보를 바탕으로, 고객에게 전문적이고 신뢰성 있는 상담 경험을 제공합니다.
			width: 100%;
			font-family: 'Pretendard';
			font-style: normal;
			font-weight: 500;
			font-size: 18px;
			line-height: 150%;
			text-align: center;
			color: #7b818f;
		}
	}

	&__box2 {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: 20px;
		width: 100%;

		&__item {
			display: flex;
			flex-direction: column;
			gap: 60px;
			justify-content: flex-end;
			padding: 60px 48px 48px 48px;
			border-radius: 16px;
			background: #ffffff;
			&__inner1 {
				width: 100%;
				display: flex;
				justify-content: center;
				align-items: flex-end;
				&__img {
					width: 100%;
					height: auto;
				}
			}
			&__inner2 {
				width: 100%;
				gap: 8px;
				font-family: 'Pretendard';
				font-style: normal;
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				&__text1 {
					width: 100%;
					font-weight: 700;
					font-size: 20px;
					line-height: 150%;
					color: #1c1d21;
				}
				&__text2 {
					width: 100%;
					font-weight: 500;
					font-size: 18px;
					line-height: 150%;
					color: #7b818f;
				}
			}
		}
	}
}
@media (max-width: 960px) {
	.wrapper {
		padding: 100px 80px;
		&__box2 {
			display: flex;
			flex-direction: column;
			align-items: center;
			gap: 24px;
			&__item {
				width: 100%;
				gap: 60px;
			}
		}
	}
}
@media (max-width: 390px) {
	.wrapper {
		gap: 60px;
		padding: 80px 24px 60px;
		&__box1 {
			&__text1 {
				font-size: 28px;
			}
			&__text2 {
				font-size: 16px;
			}
		}
		&__box2 {
			&__item {
				width: 100%;
				padding: 32px 24px;
				gap: 32px;
				&__inner2 {
					&__text1 {
						font-size: 18px;
					}
					&__text2 {
						font-size: 13px;
					}
				}
			}
		}
	}
}
