.content8 {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 200px 143px;
	gap: 200px;
	width: 100%;
	background: #1c1d21;
	&__wrapper {
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 0px;
		gap: 80px;
		width: 100%;
		&__box1 {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			padding: 0px;
			gap: 32px;
			width: 100%;
			&__inner {
				display: flex;
				flex-direction: row;
				justify-content: center;
				align-items: center;
				padding: 9px 20px 9px 16px;
				gap: 6px;
				border-radius: 100px;

				background: linear-gradient(90deg, #cb4d61 34.77%, #8cb4ff 65.88%);
				font-family: 'Pretendard';
				font-style: normal;
				font-weight: 600;
				font-size: 16px;
				line-height: 22px;
				text-align: center;
				color: #ffffff;
				position: relative;
				z-index: 1;

				img {
					width: 14px;
					height: auto;
				}
			}
			&__inner::before {
				content: '';
				position: absolute;
				top: 2px;
				left: 2px;
				right: 2px;
				bottom: 2px;
				z-index: -1;
				background: #1c1d21;
				border-radius: 100px;
			}
			&__txt1 {
				width: 100%;
				font-family: 'Gilroy-Bold';
				font-style: normal;
				font-weight: 400;
				font-size: 64px;
				line-height: 150%;
				text-align: center;
				letter-spacing: -0.03em;
				color: #ffffff;
			}

			&__txt2 {
				width: 100%;
				font-family: 'Pretendard';
				font-style: normal;
				font-weight: 500;
				font-size: 18px;
				line-height: 150%;
				text-align: center;
				color: #c8cbd3;
			}

			&__btn {
				display: flex;
				flex-direction: row;
				justify-content: center;
				align-items: center;
				padding: 16px 24px 16px 28px;
				gap: 8px;
				border-radius: 12px;
				background-color: rgba(0, 0, 0, 0);
				border: none;
				&__txt {
					font-family: 'Pretendard';
					font-style: normal;
					font-weight: 500;
					font-size: 18px;
					line-height: 24px;
					text-align: center;
					color: #ffffff;
				}
			}
		}

		&__img {
			width: 960px;
			height: auto;
			object-fit: cover;
		}
	}
}
@media (max-width: 1366px) {
	.content8 {
		padding: 140px 80px;
		&__wrapper {
			&__box1 {
				&__txt1 {
					font-size: 58px;
				}
				&__txt2 {
					font-size: 16px;
				}
				&__btn {
					&__txt {
						font-size: 16px;
					}
				}
			}
		}
	}
}
@media (max-width: 959px) {
	.content8 {
		padding: 40px 24px;
		&__wrapper {
			gap: 40px;
			&__box1 {
				width: 100%;
				&__txt1 {
					font-size: 24px;
				}
				&__txt2 {
					font-size: 14px;
				}
				&__btn {
					padding: 6.5px 10px 6.5px 12px;
					&__txt {
						font-size: 14px;
					}
				}
			}
			&__img {
				width: 100%;
			}
		}
	}
}
