.content6 {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 80px 143px;
	gap: 80px;
	width: 100%;
	background: #ffffff;

	&__wrapper {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		padding: 0px;
		gap: 40px;
		width: 100%;
		&__box1 {
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			padding: 0px;
			gap: 32px;
			width: 100%;

			&__inner {
				display: flex;
				flex-direction: column;
				align-items: flex-start;
				padding: 0px;
				gap: 24px;
				width: 100%;
				&__btn {
					display: flex;
					flex-direction: row;
					justify-content: center;
					align-items: center;
					padding: 6.5px 16px;
					gap: 10px;
					/* 109px */
					min-width: 10%;
					min-height: 32px;
					background: #fbf3f5;
					border-radius: 100px;
					border: none;
					font-family: 'Pretendard';
					font-style: normal;
					font-weight: 500;
					font-size: 14px;
					line-height: 20px;
					text-align: center;
					color: #cb4d61;
				}

				&__txt {
					width: 100%;
					font-family: 'Pretendard';
					font-style: normal;
					font-weight: 600;
					font-size: 32px;
					line-height: 150%;
					color: #1c1d21;
					margin: 0;
				}
			}

			&__txt {
				width: 100%;
				min-height: 54px;
				font-family: 'Pretendard';
				font-style: normal;
				font-weight: 500;
				font-size: 18px;
				line-height: 150%;
				display: flex;
				align-items: center;
				color: #7b818f;
				margin: 0;
			}
		}

		&__box2 {
			display: flex;
			flex-direction: row;
			align-items: center;
			padding: 0px;
			gap: 4px;
			/* 76px */
			min-width: 7%;
			min-height: 22px;
			&__btn {
				/* 56px */
				min-width: 73%;
				min-height: 22px;
				font-family: 'Pretendard';
				font-style: normal;
				font-weight: 500;
				font-size: 16px;
				line-height: 22px;
				text-align: center;
				color: #cb4d61;
				border: none;
				background-color: #ffffff;
			}
		}

		&__img {
			width: 100%;
			height: auto;
		}
	}
}
@media (min-width: 960px) and (max-width: 1366px) {
	.content6 {
		padding: 80px 80px;

		&__wrapper {
			&__box1 {
				gap: 40px;
				&__inner {
					&__txt {
						font-size: 28px;
					}
				}
				&__txt {
					font-size: 16px;
				}
			}
		}
	}
}
@media (max-width: 959px) {
	.content6 {
		padding: 0px 24px 60px;
		&__wrapper {
			&__box1 {
				gap: 24px;
				&__inner {
					gap: 24px;
					&__txt {
						font-size: 24px;
					}
				}
				&__txt {
					font-size: 14px;
				}
			}
		}
	}
}
