.content1 {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 172px 143px 160px;
	gap: 80px;
	width: 100%;
	background: #ffffff;
	&__wrapper {
		display: flex;
		flex-direction: column;
		padding: 0px;
		gap: 64px;
		/* 1080px */
		width: 100%;
		&__box1 {
			display: flex;
			flex-direction: column;
			align-items: center;
			gap: 40px;
			width: 100%;

			&__text1 {
				width: 100%;
				font-family: 'Montserrat';
				font-style: normal;
				font-weight: bold;
				font-size: 52px;
				line-height: 132%;
				text-align: center;
				color: #1c1d21;
			}

			&__text2 {
				width: 100%;
				font-family: 'Pretendard';
				font-style: normal;
				font-weight: 500;
				font-size: 20px;
				line-height: 150%;
				text-align: center;
				color: #7b818f;
			}
		}

		&__box2 {
			display: flex;
			flex-direction: row;
			justify-content: center;
			align-items: center;
			padding: 0px;
			gap: 12px;
			/* 1080px */
			width: 100%;
			&__btn1 {
				box-sizing: border-box;
				display: flex;
				flex-direction: row;
				justify-content: center;
				align-items: center;
				padding: 16px 28px;
				background: #ffffff;
				border: 1px solid #e2e4e9;
				border-radius: 12px;
				font-family: 'Pretendard';
				&__text {
					color: #1c1d21;
				}
			}
			&__btn2 {
				display: flex;
				flex-direction: row;
				justify-content: center;
				align-items: center;
				padding: 16px 28px;
				font-family: 'Pretendard';
				font-size: 18px;
				background: #cb4d61;
				/* 170px */
				border: none;
				border-radius: 12px;
				color: #ffffff;
				&__text {
					color: white;
					font-size: 18px;
				}
			}
		}
	}

	&__img {
		width: 100%;
		height: auto;
		border-radius: 16px;
	}
}
.enFont {
	font-family: 'Montserra';
}
@media (min-width: 960px) and (max-width: 1365px) {
	.content1 {
		padding: 172px 80px 140px;
		&__wrapper {
			&__box1 {
				&__text1 {
					font-size: 48px;
				}
				&__text2 {
					font-size: 18px;
				}
			}
			&__box2 {
				&__btn1 {
					border: 0.0625rem solid #e2e4e9;
				}
			}
		}
	}
}
@media (max-width: 959px) {
	.content1 {
		padding: 132px 24px 60px;
		&__wrapper {
			&__box1 {
				&__text1 {
					font-size: 32px;
				}
				&__text2 {
					font-size: 16px;
				}
			}
			&__box2 {
				&__btn1 {
					border: 0.0625rem solid #e2e4e9;
				}
			}
		}
	}
}
