.content7 {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 80px 143px 160px;
	gap: 80px;
	width: 100%;
	background: #ffffff;

	&__wrapper {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: flex-end;
		padding: 0px;
		gap: 40px;
		width: 100%;
		&__box1 {
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			padding: 0px;
			gap: 32px;
			width: 100%;
			&__inner {
				display: flex;
				flex-direction: column;
				align-items: flex-start;
				padding: 0px;
				gap: 24px;
				width: 100%;

				&__btn {
					padding: 6.5px 16px;
					gap: 10px;
					/* 57px */
					background: #fbf3f5;
					border-radius: 100px;
					font-family: 'Pretendard';
					font-style: normal;
					font-weight: 500;
					font-size: 14px;
					line-height: 20px;
					text-align: center;
					color: #cb4d61;
					border: none;
				}

				&__txt {
					width: 100%;
					font-family: 'Pretendard';
					font-style: normal;
					font-weight: 600;
					font-size: 32px;
					line-height: 150%;
					color: #1c1d21;
				}
			}

			&__txt {
				font-family: 'Pretendard';
				font-style: normal;
				font-weight: 500;
				font-size: 18px;
				line-height: 150%;
				display: flex;
				align-items: center;
				color: #7b818f;
			}
		}

		&__box2 {
			display: flex;
			flex-direction: row;
			justify-content: flex-end;
			align-items: flex-end;
			width: 353.56px;
			&__inner {
				padding: 24px;

				display: flex;
				flex-direction: rows;
				align-items: flex-end;
				&__img {
					width: 128.78px;
					height: auto;
					object-fit: contain;
				}
			}
		}
	}
}
@media (max-width: 1366px) {
	.content7 {
		padding: 80px 80px 140px;
		&__wrapper {
			flex-direction: column;
			align-items: center;
			&__box1 {
				&__inner {
					&__txt {
						font-size: 28px;
					}
				}
				&__txt {
					font-size: 16px;
				}
			}
		}
	}
}
@media (max-width: 959px) {
	.content7 {
		padding: 0px 24px 60px;
		&__wrapper {
			&__box1 {
				gap: 24px;
				&__inner {
					gap: 24px;
					&__txt {
						font-size: 24px;
					}
				}
				&__txt {
					font-size: 14px;
				}
			}
			&__box2 {
				justify-content: center;
				&__inner {
					&__img {
						width: 64.39px;
					}
				}
			}
		}
	}
}
