@mixin common-button {
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 7px;
	font-size: 14px;
	font-family: 'Pretendard';
	font-weight: 500;
	text-align: center;
}

.banner {
	&__wrapper {
		display: flex;
		width: 100%;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		border-bottom: 1px solid #e2e4e9;
		position: fixed;
		z-index: 99;
		padding: 18px 83px;
		background-color: #fff;
		&__top {
			background-color: #2e1f21;
			width: 100%;
			gap: 10px;
			display: flex;
			align-items: center;
			justify-content: center;

			&__box {
				// width: 30.9%;
				min-height: 20px;
				gap: 12px;
				display: flex;
				flex-direction: row;
				align-items: center;

				&__section1 {
					// min-width: 60.5%;
					min-height: 20px;
					gap: 8px;
					display: flex;
					flex-direction: row;
					justify-content: flex-start;
					align-items: center;

					&__badges {
						min-width: 13.6%;
						min-height: 16px;
						padding: 2px 4px;
						gap: 8px;
						border-radius: 5px 0 0 0;
						opacity: 0.5;
						background-color: #410c14;
						display: flex;
						justify-content: center;
						align-items: center;

						&__text {
							gap: 0;
							color: #f2556e;
							font-family: Pretendard;
							font-size: 12px;
							font-weight: 600;
							line-height: 12px;
							text-align: center;
						}
					}
					&__text {
						gap: 0;
						font-family: Pretendard;
						font-size: 14px;
						font-weight: 600;
						line-height: 20px;
						color: #ffffff;
						white-space: nowrap;
					}
				}

				&__section2 {
					// min-width: 33.8%;
					min-height: 20px;
					gap: 4px;
					display: flex;
					flex-direction: row;
					align-items: center;
					&:hover {
						cursor: pointer;
					}
					&__text {
						font-family: Pretendard;
						font-size: 14px;
						font-weight: 400;
						line-height: 20px;
						text-align: center;
						white-space: nowrap;
						color: #ffffff;
					}
				}
			}
		}

		&__bottom {
			width: 100%;
			display: flex;
			flex-direction: row;
			justify-content: center;
			align-items: center;

			&__box {
				display: flex;
				flex-direction: row;
				justify-content: space-between;
				align-items: center;
				width: 100%;
				&__section1 {
					display: flex;
					flex-direction: row;
					align-items: space-between;
					gap: 40px;
					//min-width: calc(489 / 1200 * 100%);
					&__item1 {
						align-items: center;
						justify-content: center;
						display: flex;
						&:hover {
							cursor: pointer;
						}
						&__img {
							width: 124px;
							height: auto;
						}
					}

					&__item2 {
						display: flex;
						flex-direction: row;
						justify-content: center;
						align-items: center;
						gap: 8px;
						width: auto;

						&__button {
							@include common-button;
							background-color: rgba(0, 0, 0, 0);
							border: none;
							width: auto;
							gap: 6px;
							padding: 8.5px 12px 8.5px 14px;
							position: relative;

							&:hover {
								.banner__wrapper__bottom__box__section1__item2__button__text {
									color: #cb4d61;
								}
								.banner__wrapper__bottom__box__section1__item2__button__dropdown {
									opacity: 1;
									visibility: visible;
								}
							}

							&__dropdown {
								position: absolute;
								display: flex;
								flex-direction: column;
								align-items: flex-start;

								width: 200px;
								height: 118px;
								background: #ffffff;
								border: 1px solid #eeeff3;
								box-shadow: 0px 20px 40px rgba(28, 29, 33, 0.04);
								padding: 5px;
								border-radius: 8px;
								top: 100%;
								left: 0;
								z-index: 100;
								visibility: hidden;
								transition: opacity 0.3s ease; // 平滑过渡

								a {
									text-decoration-line: none;
									padding: 8px 12px;
									gap: 10px;
									height: 36px;
									width: 190px;
								}
								&__text {
									width: 166px;
									height: 20px;
									border-radius: 8px;
									font-family: 'Pretendard';
									font-style: normal;
									font-weight: 400;
									font-size: 14px;
									line-height: 20px;
									text-align: start;
									color: #636875;
									&:hover {
										color: #cb4d61;
									}
								}
							}
							@media (max-width: 768px) {
								&__dropdown {
									border: 0.0625rem solid #e2e4e9; /* 边框变细 */
								}
							}
						}
						&__button3 {
							@include common-button;
							background-color: rgba(0, 0, 0, 0);
							border: none;
							padding: 0;
							width: auto;
							//min-width: calc(135 / 325 * 100%);
							height: 36px;
							gap: 6px;
							padding: 8.5px 12px 8.5px 14px;
							display: flex;
						}
					}
				}

				&__section2 {
					display: flex;
					flex-direction: row;
					justify-content: center;
					align-items: center;
					gap: 3.6%;

					&__item1 {
						display: flex;
						flex-direction: row;
						justify-content: center;
						align-items: center;
						/* 16px */
						gap: 5.3%;
						width: auto;
						/* 299px */
						min-width: calc(299 / 424 * 100%);
						height: 36px;

						&__button {
							@include common-button;
							/* 65px / 299px*/
							//min-width: 21.9%;
							height: 36px;
							font-size: 14px;
							background-color: rgba(0, 0, 0, 0);
							border: none;
							padding: 8.5px 14px;
						}

						&__inner {
							display: flex;
							flex-direction: row;
							justify-content: center;
							align-items: center;
							gap: 3.9%;
							/* 202px /299px*/
							//min-width: calc(202 / 299 * 100%);
							// height: 36px;

							&__button1 {
								@include common-button;
								/* 77px */
								//min-width: 38.1%;
								height: 36px;
								background-color: rgba(0, 0, 0, 0);
								border: 1px solid #e2e4e9;
								padding: 8.5px 14px;

								&__text {
									line-height: inherit;
									font-size: inherit;
									text-align: center;
									display: block;
								}
							}
							&__button2 {
								@include common-button;
								/* 117px */
								//min-width: 57.9%;
								height: 36px;
								background: #cb4d61;
								border: none;
								padding: 8.5px 14px;

								&__text {
									color: #ffffff;

									line-height: inherit;

									display: block;
								}
							}
							@media (max-width: 768px) {
								&__button1 {
									border: 0.0625rem solid #e2e4e9; /* 边框变细 */
								}
							}
						}
					}
					&__item2 {
						display: flex;
						flex-direction: row;
						align-items: center;
						justify-content: flex-start;
						padding: 8.5px 12px;
						gap: 6px;
						/* 109px */
						//min-width: 25.7%;
						height: 36px;
						background: #ffffff;
						border-radius: 8px;
						border: none;
						position: relative;

						&__text {
							height: 20px;
							line-height: 20px;
						}
						&:hover {
							.banner__wrapper__bottom__box__section2__item2__dropdown {
								visibility: visible;
							}
						}
						&__dropdown {
							position: absolute;

							top: 100%;
							left: 0;
							z-index: 1000;
							display: flex;
							flex-direction: row;
							padding: 5px;

							width: 151px;
							height: 82px;
							background: #ffffff;

							border: 1px solid #eeeff3;
							visibility: hidden;
							box-shadow: 0px 20px 40px rgba(28, 29, 33, 0.04);
							border-radius: 8px;
							overflow-y: scroll;
							scroll-behavior: auto;
							-ms-overflow-style: none; /* 隐藏滚动条，兼容 IE */
							scrollbar-width: none; /* 隐藏滚动条，兼容 Firefox */
							&::-webkit-scrollbar {
								display: none;
							}
							&__item1 {
								display: flex;
								flex-direction: column;
								width: 100%;
								li {
									padding: 8px 12px;
									gap: 10px;
									width: 100%;
									height: 36px;
									border-radius: 8px;
									font-family: 'Pretendard';
									font-style: normal;
									font-weight: 400;
									font-size: 14px;
									line-height: 20px;
									color: #34363e;
								}
							}

							&__scrollbar {
								width: 12px;
								height: 66px;
								position: absolute;
								right: 0;
								top: 3px;
								z-index: 1000;
								background-color: transparent;
								&__thumb {
									margin-left: 3px;
									border-radius: 3px;
									height: 60px;
									background-color: #e2e4e9;
									width: 6px;
								}
							}
						}
						@media (max-width: 768px) {
							&__dropdown {
								border: 0.0625rem solid #e2e4e9; /* 边框变细 */
							}
						}
					}
					@media (max-width: 390px) {
						&__item2 {
							display: none;
						}
					}
					&__item3 {
						width: 48px;
						height: 48px;
						display: none;
						justify-content: center;
						align-items: center;
						margin-left: 0px;
						img {
							width: 20px;
							height: auto;
						}
					}
				}
			}
		}
		&__mobile {
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			width: 100%;
			background-color: #fff;

			z-index: 100;
			position: fixed;
			top: 0;
			left: 0;
			a {
				text-decoration: none;
			}
			&__box1 {
				width: 100%;
				padding: 12px 12px 12px 0px;
				display: flex;
				justify-content: flex-end;
				align-items: center;
			}

			&__box2 {
				width: 100%;
				padding: 12px 40px 40px 40px;
				display: flex;
				justify-content: center;
				align-items: flex-start;
				&__inner {
					width: 100%;
					display: flex;
					flex-direction: column;
					align-items: flex-start;
					gap: 32px;

					&__item1 {
						width: 100%;
						display: flex;
						flex-direction: column;
						align-items: flex-start;
						padding: 0px;
						gap: 8px;

						&__text {
							width: 100%;
							height: 20px;
							font-family: 'Pretendard';
							font-style: normal;
							font-weight: 500;
							font-size: 14px;
							line-height: 20px;
							color: #7b818f;
						}

						&__list {
							display: flex;
							flex-direction: column;
							align-items: flex-start;
							padding: 0px;
							gap: 4px;
							width: 100%;

							p {
								display: flex;
								flex-direction: row;
								align-items: flex-start;
								padding: 0px;
								width: 100%;
								font-family: 'Pretendard';
								font-style: normal;
								font-weight: 500;
								font-size: 16px;
								line-height: 22px;
								color: #34363e;
								line-height: 40px;
								&:hover {
									cursor: pointer;
									color: #cb4d61;
								}
							}
						}
					}

					&__item3 {
						display: flex;
						flex-direction: row;
						align-items: flex-start;
						padding: 0px;
						width: 100%;
						&__text {
							font-family: 'Pretendard';
							font-style: normal;
							font-weight: 500;
							font-size: 16px;
							line-height: 22px;
							color: #34363e;
							line-height: 40px;
						}
					}

					&__item4 {
						width: 100%;
						display: flex;
						flex-direction: column;
						justify-content: center;
						align-items: flex-start;
						gap: 8px;
						button {
							display: flex;
							flex-direction: row;
							justify-content: center;
							align-items: center;
							padding: 13px 18px;
							width: 100%;
							border-radius: 8px;
							border: none;
						}
						&__freeuse {
							background: #cb4d61;
							color: #ffffff;
						}
						&__login {
							background: #eeeff3;
							color: #34363e;
						}
					}
				}
			}
		}
	}
}
button:hover {
	cursor: pointer;
}
.h-46 {
	height: 46px;
}

@media (max-width: 960px) {
	.banner {
		&__wrapper {
			padding: 12px 24px;
			&__bottom {
				&__box {
					&__section1 {
						&__item2 {
							display: none;
						}
					}

					&__section2 {
						gap: 0;
						&__item1 {
							display: none;
						}
						&__item3 {
							display: flex;
						}
					}
				}
			}
		}
	}
}
@media (max-width: 390px) {
	.banner {
		&__wrapper {
			&__bottom {
				height: 64px;
			}
			&__mobile {
				height: 100%;
				&__box2 {
					height: 100%;
					padding: 12px 24px 40px 24px;
					&__inner {
						height: 100%;
						position: relative;
						&__item4 {
							position: absolute;
							bottom: 0;
							left: 0;
							width: 100%;
						}
					}
				}
			}
		}
	}
}
