.wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 120px 143px;
	gap: 80px;
	width: 100%;
	background: #fbfbfb;
	&__box1 {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		padding: 0px;
		gap: 24px;
		width: 100%;
		&__text1 {
			//쉽고 간편하게 회원과 소통하기
			width: 100%;
			font-family: 'Pretendard';
			font-style: normal;
			font-weight: 700;
			font-size: 40px;
			line-height: 150%;
			text-align: center;
			color: #1c1d21;
		}
		&__text2 {
			//LookinBody 서비스 내에서 메일, 채팅, 인바디 앱 푸시 등 회원에게 손쉽게 메시지를 발송할 수 있습니다.
			width: 100%;
			font-family: 'Pretendard';
			font-style: normal;
			font-weight: 500;
			font-size: 18px;
			line-height: 150%;
			text-align: center;
			color: #7b818f;
		}
	}
	&__box2 {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: 20px;
		width: 100%;

		&__item {
			display: flex;
			flex-direction: column;
			gap: 60px;
			padding: 60px 48px 48px 48px;
			border-radius: 16px;

			&__inner1 {
				width: 100%;

				&__img {
					width: 100%;
					height: auto;
				}
			}
			&__inner2 {
				width: 100%;
				gap: 8px;
				font-family: 'Pretendard';
				font-style: normal;
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				&__text1 {
					width: 100%;
					font-weight: 700;
					font-size: 20px;
					line-height: 150%;
					color: #1c1d21;
					font-family: 'Pretendard';
				}
				&__text2 {
					width: 100%;
					font-weight: 500;
					font-size: 18px;
					line-height: 150%;
					color: #7b818f;
					font-family: 'Pretendard';
				}
			}
		}
	}
}
@media (max-width: 1366px) {
	.wrapper {
		&__box2 {
			display: flex;
			flex-direction: column;
			align-items: center;
			gap: 24px;
			&__item {
				width: 100%;
				gap: 60px;
			}
		}
	}
}
@media (max-width: 959px) {
	.wrapper {
		gap: 40px;
		padding: 80px 24px;
		&__box1 {
			&__text1 {
				font-size: 28px;
			}
			&__text2 {
				font-size: 16px;
			}
		}
		&__box2 {
			&__item {
				width: 100%;
				padding: 32px 24px;
				gap: 32px;
				&__inner2 {
					&__text1 {
						font-size: 18px;
					}
					&__text2 {
						font-size: 13px;
					}
				}
			}
		}
	}
}
